{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Market Safe</title>
    <link href="https://fonts.googleapis.com/css?family=Fondamento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'market_safe/style.css' %}">
  </head>
  <body>
    <div id="top">
      <h1>Market Safe!</h1>
      <h3>An all-in-one shop visit planning and contact tracing app!</h3>
    </div>
    <div id="left">
      <p>As our society emerges from the COVID - 19 pandemic, we need a way to be socially distant while still getting the resources we need from stores outside. Market Safe is a tool that can help us prevent a second wave of the virus. It allows businesses and customers to connect, plan out the visitors coming into the store, and also functions as a contact tracing site to alert businesses and customers that may have been in contact with a user who tested positive. This is Market Safe!</p>
    </div>
    <div id="right">
      Hello?
    </div>
  </body>
</html>
